<style>
  .smallCard {
    height: 120px !important;
    text-align: center;
  }

  .titleCard {
    font-size: 50px;
    padding: 10px;
  }

  .description {
    font-weight: bold;
    font-size: 20px;
  }
</style>

<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-3">
        <nb-card size="xsmall" class="smallCard">
          <span class="titleCard">70</span>
          <span class="description">Calories Consumed</span>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card size="xsmall" class="smallCard">
          <span class="titleCard">200</span>
          <span class="description"> Steps</span>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card size="xsmall" class="smallCard">
          <span class="titleCard">50</span>
          <span class="description"> Calories Burnt</span>

        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card size="xsmall" class="smallCard">
          <span class="titleCard">150ml</span>
          <span class="description"> Hydrated</span>

        </nb-card>
      </div>

    </div>
    <div class="row">
      <div class="col-xxl-9">
        <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
      </div>
    </div>
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>


</div>