<nb-card-body>
  <ul class="traffic-list">
    <li>
      <div class="heads">Days</div>
      <div class="heads">Calories Consumned</div>
      <div class="heads">Steps</div>
      <div class="heads">Calories Burnt</div>
      <div class="heads">Hydrated</div>
    </li>
    <li *ngFor="let item of frontCardData; trackBy: trackByDate">
      <div class="date">{{ item.date }}</div>
      <div class="value">{{ item.caloriesConsumed }}</div>
      <div class="value">{{ item.steps }}</div>
      <div class="value">{{ item.caloriesBurnt }}</div>
      <div class="value">{{ item.hydrated }}</div>
    </li>
  </ul>
</nb-card-body>
